:root.light-theme {
  /* Colores de fondo */
  --bg-primary: #ffffff;       /* Fondo principal (página) */
  --bg-header: transparent;       /* Fondo del header (opcional) */
  
  /* Colores de texto */
  --text-primary: #333333;    /* h1, títulos principales */
  --text-secondary: #747474;  /* p, textos secundarios */
  
  /* Botones (opcional, para mantener consistencia) */
  --bg-button-theme: #ffffff;
  --border-button-theme: #ddd;
  --icon-filter: opacity(0.6);
}